@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-triangle:before {
  content: "\e90b";
}

._icon-clock:before {
  content: "\e900";
  color: #ef7922;
}

._icon-mail:before {
  content: "\e901";
  color: #ef7922;
}

._icon-map:before {
  content: "\e902";
  color: #ef7922;
}

._icon-tel:before {
  content: "\e903";
  color: #ef7922;
}

._icon-04:before {
  content: "\e904";
  color: #ef7922;
}

._icon-01:before {
  content: "\e905";
  color: #ef7922;
}

._icon-02:before {
  content: "\e906";
  color: #ef7922;
}

._icon-06:before {
  content: "\e907";
  color: #ef7922;
}

._icon-05:before {
  content: "\e908";
  color: #ef7922;
}

._icon-03:before {
  content: "\e909";
  color: #ef7922;
}

._icon-Vector-1:before {
  content: "\e90a";
  color: #ef7922;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Roboto";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Roboto";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #222222;
  font-size: 14px;
}

body._lock {
  overflow: hidden;
}

body * {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #eeeeee;
  position: relative;
}

.wrapper .wrapper-triangle {
  color: #e8e8e8;
  position: relative;
}

.wrapper .wrapper-triangle::before {
  position: absolute;
  top: -111px;
  left: -622px;
  font-size: 3500px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

._container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 24px;
  background: #ef7922;
  border: 2px solid #ef7922;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn a {
  font-weight: 500;
  line-height: 114.28571%;
  color: #ffffff;
}

.btn._fw {
  width: 100%;
}

.form-pop {
  background-color: #ef7922;
  padding: 62px;
}

.form-pop__line {
  max-width: 490px;
}

.form-pop__line._error .form-pop__input,
.form-pop__line._error .form-pop__textarea {
  margin: 0;
}

.form-pop__input {
  padding: 28px 40px;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 33px;
  border: 3px solid white;
}

.form-pop__input._error {
  border: 3px solid red;
}

.form-pop__textarea {
  display: block;
  width: 100%;
  min-height: 210px;
  padding: 20px 40px;
  resize: none;
  border: 3px solid white;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 40px;
}

.form-pop__textarea._error {
  border: 3px solid red;
}

.form-pop__btn {
  background-color: #fff;
  padding: 18px 24px;
  margin-bottom: 52px;
}

.form-pop__btn p {
  font-weight: 500;
  line-height: 114.28571%;
  color: #ef7922;
}

.form__error {
  margin-bottom: 15px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 115.625%;
}

.article {
  margin-bottom: 204px;
  padding-top: 167px;
}

.article__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.article__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 322px;
          flex: 0 0 322px;
  height: 295px;
}

.article__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 71.2%;
          flex: 0 1 71.2%;
  padding-left: 30px;
}

.article__up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.article__title {
  font-size: 32px;
  padding-right: 20px;
}

.article__date {
  font-size: 18px;
  line-height: 116.66667%;
  letter-spacing: 0.02em;
  color: #939393;
}

.article__text {
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.02em;
}

.service {
  margin-bottom: 145px;
  padding-top: 144px;
}

.service__img {
  width: 100%;
  padding-bottom: 37%;
  min-height: 200px;
  margin-bottom: 30px;
}

.service__title {
  margin-bottom: 21px;
  text-align: start !important;
}

.service__text {
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  margin-bottom: 63px;
}

.popup {
  -webkit-overflow-scrolling: touch;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  padding: 30px 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
}

.popup_video .popup__body {
  padding: 0;
  background-color: transparent;
}

.popup_video .popup__close {
  color: white;
  position: relative;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  visibility: visible;
  overflow: auto;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  width: 100%;
  max-width: 614px;
}

.popup__close {
  font-size: 30px;
  text-align: end;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 30;
  margin: 0px 0px 10px 0px;
}

.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: #fff;
}

.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  top: 0;
  left: 0;
  background-color: #ef7922;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__logo {
  width: 280px;
  max-width: 280px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 280px;
          flex: 0 0 280px;
  height: 104px;
  overflow: hidden;
  position: relative;
  margin-right: 90px;
  margin-left: 90px;
}

.header__logo img {
  position: absolute;
  top: 5px;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 320px;
}

.menu__link {
  font-size: 14px;
  line-height: 114.28571%;
  color: #000;
  text-transform: uppercase;
  padding: 43px 0;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__link::before {
  color: #ef7922;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: -12px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  font-size: 40px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__link._active {
  color: #ef7922;
}

.menu__link._active::before {
  opacity: 1;
  visibility: visible;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer__row-1 {
  display: block;
  margin-bottom: 12px;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -42px;
  margin-left: -42px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__links li {
  padding: 0 42px;
  padding-left: 42px;
  padding-right: 42px;
}

.footer__link {
  font-weight: 700;
  font-size: 18px;
  line-height: 116.66667%;
  letter-spacing: 0.02em;
  color: #000000;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__contacts a {
  font-size: 14px;
  line-height: 114.28571%;
  letter-spacing: 0.02em;
  color: #000000;
}

.footer__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

.footer__email ._icon-mail {
  margin-right: 15px;
}

.footer__email ._icon-mail::before {
  font-size: 20px;
}

.footer__telephones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__telephones ._icon-tel {
  margin-right: 12px;
}

.footer__telephones ._icon-tel::before {
  font-size: 25px;
}

.footer__telephone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
}

.footer__row-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copyrights {
  font-weight: 300;
  font-size: 14px;
  line-height: 114.28571%;
  letter-spacing: 0.02em;
  color: #7c7c7c;
}

.footer__copyrights p {
  margin-bottom: 10px;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__whatsup {
  margin-left: 10px;
  margin-right: 23px;
}

.main-block {
  padding-top: 146px;
  margin-bottom: 100px;
}

.main-block__row-1 {
  display: -ms-grid;
  display: grid;
  margin-bottom: 15px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, 1fr);
  -ms-grid-rows: (minmax(212px, 1fr))[5];
  grid-template-rows: repeat(5, minmax(212px, 1fr));
}

.main-block__row-2 {
  display: -ms-grid;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, 1fr);
  -ms-grid-rows: minmax(237px, 1fr);
  grid-template-rows: minmax(237px, 1fr);
  grid-auto-rows: minmax(237px, 1fr);
}

.main-block__item-1 {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.item-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #eee;
}

.item-main__img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-bottom: 8px;
}

.item-main__img img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item-main__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #eee;
}

.item-main__title {
  font-size: 14px;
  line-height: 114.28571%;
  color: #000000;
  text-transform: uppercase;
  padding-right: 10px;
}

.item-main__link {
  font-size: 12px;
  line-height: 116.66667%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-transform: uppercase;
  color: #f06e26;
  white-space: nowrap;
}

.features {
  position: relative;
  z-index: 3;
  margin-bottom: 78px;
}

.features__title {
  margin-bottom: 40px;
}

.features__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -20px -15px;
}

.features__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 20px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.features__item-img {
  width: 48px;
  height: 48px;
  border: 1px solid #d4d4d4;
  position: relative;
  margin-bottom: 16px;
}

.features__item-img::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 25px;
}

.features__item-text {
  font-size: 18px;
  line-height: 120%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.work {
  position: relative;
  z-index: 3;
  margin-bottom: 68px;
}

.work__title {
  margin-bottom: 40px;
}

.work__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
  position: relative;
  max-width: 1284px;
  margin: 0px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
}

.work__slider {
  position: relative;
  max-width: 1120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.work__wrapper {
  padding-bottom: 40px;
}

.work__slide {
  height: auto;
}

.work .swiper-pagination {
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: #ef7922;
  border-radius: 50%;
  border: 1px solid #ef7922;
  opacity: 1;
}

.work .swiper-pagination-bullet-active {
  width: 10px;
  height: 10px;
  background-color: #fff;
}

.slide-work {
  max-width: 350px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slide-work__img {
  width: 100%;
  max-width: 350px;
  padding-bottom: 53%;
  min-height: 150px;
}

.slide-work__title {
  font-weight: 300;
  line-height: 120%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #222222;
  padding: 8px 0;
  border-bottom: 1px solid #d5d3d4;
  margin-bottom: 8px;
}

.slide-work__text {
  font-size: 18px;
  line-height: 120%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 0.02em;
  color: #222222;
  margin-bottom: 24px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.slide-work__btn {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.work-arrow {
  position: relative;
  z-index: 5;
}

.work-arrow span {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ef7922;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.work-arrow span::before,
.work-arrow span::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: #ef7922;
  left: 55%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.work-arrow span::before {
  top: 15px;
  -webkit-transform: translate(-50%, 0) rotate(45deg);
      -ms-transform: translate(-50%, 0) rotate(45deg);
          transform: translate(-50%, 0) rotate(45deg);
}

.work-arrow span::after {
  top: 21px;
  -webkit-transform: translate(-50%, 0) rotate(-45deg);
      -ms-transform: translate(-50%, 0) rotate(-45deg);
          transform: translate(-50%, 0) rotate(-45deg);
}

.work-arrow_left {
  padding-right: 15px;
}

.work-arrow_left span::before {
  -webkit-transform: translate(-50%, 0) rotate(-45deg);
      -ms-transform: translate(-50%, 0) rotate(-45deg);
          transform: translate(-50%, 0) rotate(-45deg);
  left: 45%;
}

.work-arrow_left span::after {
  -webkit-transform: translate(-50%, 0) rotate(45deg);
      -ms-transform: translate(-50%, 0) rotate(45deg);
          transform: translate(-50%, 0) rotate(45deg);
  left: 45%;
}

.work-arrow_right {
  padding-left: 15px;
}

.partners {
  position: relative;
  z-index: 3;
  margin-bottom: 52px;
}

.partners__title {
  margin-bottom: 45px;
}

.partners__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -15px -5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.partners__row-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 5px;
}

.about {
  position: relative;
  z-index: 10;
  margin-bottom: 60px;
}

.about__title {
  margin-bottom: 24px;
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__text {
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.02em;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  margin-right: 30px;
}

.about__video {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  position: relative;
}

.about__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 432px;
}

.contacts {
  position: relative;
  z-index: 3;
  margin-bottom: 86px;
}

.contacts__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__slider {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 64%;
          flex: 0 1 64%;
  max-height: 432px;
  position: relative;
}

.contacts__slide {
  padding-bottom: 65%;
}

.contacts__left,
.contacts__right {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.contacts__left {
  left: 25px;
}

.contacts__right {
  right: 25px;
}

.contacts__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 36%;
          flex: 0 1 36%;
  max-width: 374px;
  margin-left: 82px;
}

.contacts__title {
  margin-bottom: 33px;
}

.contacts__main * {
  font-weight: 700;
  font-size: 18px;
  line-height: 116.66667%;
  letter-spacing: 0.02em;
  color: #000000;
}

.contacts__main ._icon-clock,
.contacts__main ._icon-map,
.contacts__main ._icon-tel,
.contacts__main ._icon-mail {
  width: 32px;
  height: 32px;
  position: relative;
  margin-right: 15px;
}

.contacts__main ._icon-clock::before,
.contacts__main ._icon-map::before,
.contacts__main ._icon-tel::before,
.contacts__main ._icon-mail::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.contacts__telephones,
.contacts__email,
.contacts__time,
.contacts__map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.contacts__telephones ._icon-tel {
  font-size: 30px;
}

.contacts__telephone {
  display: block;
}

.contacts__time ._icon-clock {
  font-size: 30px;
}

.contacts__map {
  margin-bottom: 50px;
}

.contacts__map ._icon-map {
  font-size: 30px;
}

.contacts__btn {
  padding: 12px 50px;
}

.page {
  position: relative;
  z-index: 5;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (min-width: 479.98px) {
  .main-block__row-1 {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    -ms-grid-rows: (minmax(196px, 1fr))[3];
    grid-template-rows: repeat(3, minmax(196px, 1fr));
  }

  .main-block__row-2 {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .main-block__item-1:nth-child(1),
  .main-block__item-1:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }

  .main-block__item-1:nth-child(3),
  .main-block__item-1:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }

  .main-block__item-1:nth-child(4) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }

  .main-block__item-1:nth-child(5) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }

  .main-block__item-2:nth-child(1) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }

  .main-block__item-2:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }

  .main-block__item-2:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}

@media (min-width: 700px) {
  .footer__row-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 767.98px) {
  .main-block__row-1 {
    -ms-grid-columns: minmax(200px, 305px) minmax(236px, 1fr) minmax(236px, 1fr);
    grid-template-columns: minmax(200px, 305px) minmax(236px, 1fr) minmax(236px, 1fr);
    -ms-grid-rows: 196px 73px 196px;
    grid-template-rows: 196px 73px 196px;
  }

  .main-block__item-1:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }

  .main-block__item-1:nth-child(2) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }

  .main-block__item-1:nth-child(2),
  .main-block__item-1:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }

  .main-block__item-1:nth-child(3) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
  }

  .main-block__item-1:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }

  .main-block__item-1:nth-child(5) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }

  .main-block__item-2:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }

  .main-block__item-2:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }

  .main-block__item-2:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}

@media (min-width: 991.98px) {
  .menu__link:hover {
    color: #ef7922;
  }

  .menu__link:hover::before {
    opacity: 1;
    visibility: visible;
  }

  .main-block__row-1 {
    -ms-grid-columns: minmax(200px, 305px) minmax(236px, 1fr) minmax(200px, 305px);
    grid-template-columns: minmax(200px, 305px) minmax(236px, 1fr) minmax(200px, 305px);
  }

  .main-block__row-2 {
    grid-template-columns: repeat(auto-fit, minmax(359px, 1fr));
  }

  .item-main:hover img {
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
  }

  .work-arrow:hover span::before,
  .work-arrow:hover span::after {
    background-color: #fff;
  }

  .work-arrow:hover span {
    background-color: #ef7922;
  }
}

@media (min-width: 992px) {
  .btn:hover a {
    text-decoration: underline;
  }
}

@media (min-width: 1162px) {
  .main-block__item-2:nth-child(3) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
}

@media (max-width: 1800px) {
  .wrapper .wrapper-triangle::before {
    left: calc(-1000px + 378 * ((100vw - 991.98px) / 808.02));
  }
}

@media (max-width: 1162px) {
  .form-pop {
    padding: calc(25px + 37 * ((100vw - 320px) / 842));
  }

  .form-pop__input {
    margin-bottom: calc(15px + 18 * ((100vw - 320px) / 842));
  }

  .form-pop__textarea {
    margin-bottom: calc(15px + 25 * ((100vw - 320px) / 842));
  }

  .form-pop__btn {
    margin-bottom: calc(0px + 52 * ((100vw - 320px) / 842));
  }

  .article {
    margin-bottom: calc(15px + 189 * ((100vw - 320px) / 842));
  }

  .article {
    padding-top: calc(119px + 48 * ((100vw - 320px) / 842));
  }

  .article__up {
    margin-bottom: calc(15px + 15 * ((100vw - 320px) / 842));
  }

  .article__title {
    font-size: calc(30px + 2 * ((100vw - 320px) / 842));
  }

  .service {
    margin-bottom: calc(15px + 130 * ((100vw - 320px) / 842));
  }

  .service {
    padding-top: calc(119px + 25 * ((100vw - 320px) / 842));
  }

  .service__img {
    margin-bottom: calc(15px + 15 * ((100vw - 320px) / 842));
  }

  .service__title {
    margin-bottom: calc(15px + 6 * ((100vw - 320px) / 842));
  }

  .service__text {
    margin-bottom: calc(15px + 48 * ((100vw - 320px) / 842));
  }

  .header__logo {
    margin-right: calc(15px + 75 * ((100vw - 991.98px) / 170.02));
  }

  .header__logo {
    margin-left: calc(15px + 75 * ((100vw - 991.98px) / 170.02));
  }

  .footer {
    padding-top: calc(15px + 15 * ((100vw - 320px) / 842));
  }

  .footer {
    padding-bottom: calc(15px + 15 * ((100vw - 320px) / 842));
  }

  .footer__links {
    margin-right: calc(-10px + -32 * ((100vw - 991.98px) / 170.02));
  }

  .footer__links {
    margin-left: calc(-10px + -32 * ((100vw - 991.98px) / 170.02));
  }

  .footer__links li {
    padding-left: calc(10px + 32 * ((100vw - 991.98px) / 170.02));
  }

  .footer__links li {
    padding-right: calc(10px + 32 * ((100vw - 991.98px) / 170.02));
  }

  .footer__email {
    margin-right: calc(10px + 10 * ((100vw - 991.98px) / 170.02));
  }

  .footer__whatsup {
    margin-right: calc(10px + 13 * ((100vw - 320px) / 842));
  }

  .main-block {
    padding-top: calc(119px + 27 * ((100vw - 320px) / 842));
  }

  .main-block {
    margin-bottom: calc(15px + 85 * ((100vw - 320px) / 842));
  }

  .features {
    margin-bottom: calc(15px + 63 * ((100vw - 320px) / 842));
  }

  .features__title {
    margin-bottom: calc(15px + 25 * ((100vw - 320px) / 842));
  }

  .work {
    margin-bottom: calc(15px + 53 * ((100vw - 320px) / 842));
  }

  .work__title {
    margin-bottom: calc(15px + 25 * ((100vw - 320px) / 842));
  }

  .work__wrapper {
    padding-bottom: calc(20px + 20 * ((100vw - 320px) / 842));
  }

  .slide-work__text {
    margin-bottom: calc(15px + 9 * ((100vw - 320px) / 842));
  }

  .partners {
    margin-bottom: calc(30px + 22 * ((100vw - 320px) / 842));
  }

  .partners__title {
    margin-bottom: calc(15px + 30 * ((100vw - 320px) / 842));
  }

  .about {
    margin-bottom: calc(15px + 45 * ((100vw - 320px) / 842));
  }

  .about__title {
    margin-bottom: calc(15px + 9 * ((100vw - 320px) / 842));
  }

  .contacts {
    margin-bottom: calc(15px + 71 * ((100vw - 320px) / 842));
  }

  .contacts__left {
    left: calc(10px + 15 * ((100vw - 320px) / 842));
  }

  .contacts__right {
    right: calc(10px + 15 * ((100vw - 320px) / 842));
  }

  .contacts__body {
    margin-left: calc(15px + 67 * ((100vw - 991.98px) / 170.02));
  }

  .contacts__title {
    margin-bottom: calc(15px + 18 * ((100vw - 320px) / 842));
  }

  .contacts__main ._icon-clock,
  .contacts__main ._icon-map,
  .contacts__main ._icon-tel,
  .contacts__main ._icon-mail {
    margin-right: calc(10px + 5 * ((100vw - 320px) / 842));
  }

  .contacts__telephones,
  .contacts__email,
  .contacts__time,
  .contacts__map {
    margin-bottom: calc(15px + 15 * ((100vw - 320px) / 842));
  }

  .contacts__map {
    margin-bottom: calc(15px + 35 * ((100vw - 320px) / 842));
  }
}

@media (max-width: 991.98px) {
  .wrapper .wrapper-triangle {
    display: none;
  }

  .wrapper .wrapper-triangle::before {
    left: -1000px;
  }

  .header__logo {
    margin-right: 15px;
  }

  .header__logo {
    margin-left: 15px;
  }

  .footer__links {
    margin-right: -10px;
  }

  .footer__links {
    margin-left: -10px;
  }

  .footer__links li {
    padding-left: 10px;
  }

  .footer__links li {
    padding-right: 10px;
  }

  .footer__email {
    margin-right: 10px;
  }

  .item-main img {
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
  }

  .contacts__body {
    margin-left: 15px;
  }
}

@media (max-width: 767.98px) {
  .form-pop__input {
    padding: 20px 30px;
  }

  .form-pop__textarea {
    padding: 20px 30px;
  }

  .title {
    text-align: center;
  }

  .article__img {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin-bottom: 15px;
  }

  .article__body {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding-left: 0px;
  }

  .header__menu:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .header__menu:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .header__logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin-left: 0;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu__body._active {
    right: 0;
  }

  .menu__body._active::after {
    right: 0;
  }

  .menu__body::after {
    content: "";
    position: fixed;
    width: 100%;
    height: 104px;
    top: 0;
    right: -100%;
    background-color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu__list {
    max-width: 100%;
    display: block;
    text-align: center;
  }

  .menu__list:first-child {
    padding-top: 124px;
  }

  .menu__list li {
    margin-bottom: 15px;
  }

  .menu__link {
    font-size: 35px;
    color: white;
    padding: 15px 20px;
  }

  .menu__link::before {
    top: 50%;
    left: 0;
    -webkit-transform: translate(-50%, -50%) rotate(-90deg);
        -ms-transform: translate(-50%, -50%) rotate(-90deg);
            transform: translate(-50%, -50%) rotate(-90deg);
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .features__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .slide-work__btn {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .about__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .about__text {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-right: 0;
  }

  .about__video {
    padding-bottom: 63%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 15px;
  }

  .contacts__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .contacts__slider {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin-bottom: 15px;
  }

  .contacts__body {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    max-width: 100%;
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .contacts__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .contacts__telephones,
  .contacts__email,
  .contacts__time,
  .contacts__map {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 700px) {
  .footer__links {
    margin-bottom: 15px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .footer__contacts {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .contacts__main {
    display: block;
    position: relative;
    left: 41px;
  }
}

@media (max-width: 700px) and (max-width: 700px) {
  .contacts__main {
    left: calc(0px + 41 * ((100vw - 320px) / 380));
  }
}

@media (max-width: 700px) and (max-width: 320px) {
  .contacts__main {
    left: 0px;
  }
}

@media (max-width: 600px) {
  .slide-work {
    max-width: 100%;
  }

  .slide-work__img {
    max-width: 100%;
    padding-bottom: 70%;
  }
}

@media (max-width: 479.98px) {
  .form-pop__input {
    padding: 15px;
  }

  .form-pop__textarea {
    padding: 15px;
  }

  .article__img {
    height: calc(250px + 45 * ((100vw - 320px) / 159.98));
  }

  .article__up {
    display: block;
    text-align: center;
  }

  .article__title {
    padding: 0;
  }

  .footer__contacts {
    display: block;
  }

  .footer__email {
    margin-bottom: 15px;
  }

  .features__item-text {
    max-width: 300px;
  }

  .work-arrow {
    display: none;
  }

  .contacts__left,
  .contacts__right {
    display: block;
  }
}

@media (max-width: 400px) {
  .service__title {
    text-align: center !important;
  }

  .service__btn {
    width: 100%;
  }

  .features__row {
    margin: -7.5px 0;
  }

  .features__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 7.5px 0;
  }
}

@media (max-width: 350px) {
  .contacts__email ._icon-mail {
    display: none;
  }
}

@media (max-width: 320px) {
  .form-pop {
    padding: 25px;
  }

  .form-pop__input {
    margin-bottom: 15px;
  }

  .form-pop__textarea {
    margin-bottom: 15px;
  }

  .form-pop__btn {
    margin-bottom: 0px;
  }

  .article {
    margin-bottom: 15px;
  }

  .article {
    padding-top: 119px;
  }

  .article__img {
    height: 250px;
  }

  .article__up {
    margin-bottom: 15px;
  }

  .article__title {
    font-size: 30px;
  }

  .service {
    margin-bottom: 15px;
  }

  .service {
    padding-top: 119px;
  }

  .service__img {
    margin-bottom: 15px;
  }

  .service__title {
    margin-bottom: 15px;
  }

  .service__text {
    margin-bottom: 15px;
  }

  .footer {
    padding-top: 15px;
  }

  .footer {
    padding-bottom: 15px;
  }

  .footer__whatsup {
    margin-right: 10px;
  }

  .main-block {
    padding-top: 119px;
  }

  .main-block {
    margin-bottom: 15px;
  }

  .features {
    margin-bottom: 15px;
  }

  .features__title {
    margin-bottom: 15px;
  }

  .work {
    margin-bottom: 15px;
  }

  .work__title {
    margin-bottom: 15px;
  }

  .work__wrapper {
    padding-bottom: 20px;
  }

  .slide-work__text {
    margin-bottom: 15px;
  }

  .partners {
    margin-bottom: 30px;
  }

  .partners__title {
    margin-bottom: 15px;
  }

  .about {
    margin-bottom: 15px;
  }

  .about__title {
    margin-bottom: 15px;
  }

  .contacts {
    margin-bottom: 15px;
  }

  .contacts__left {
    left: 10px;
  }

  .contacts__right {
    right: 10px;
  }

  .contacts__title {
    margin-bottom: 15px;
  }

  .contacts__main ._icon-clock,
  .contacts__main ._icon-map,
  .contacts__main ._icon-tel,
  .contacts__main ._icon-mail {
    margin-right: 10px;
  }

  .contacts__telephones,
  .contacts__email,
  .contacts__time,
  .contacts__map {
    margin-bottom: 15px;
  }

  .contacts__map {
    margin-bottom: 15px;
  }
}